[submodule "platform/rp2040/pico-sdk"]
	path = platform/rp2040/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "lib/scpi-parser"]
	path = lib/scpi-parser
	url = https://github.com/illuminated-g/scpi-parser.git
